<html>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <title>{% block title %} PHONE FINDER {% endblock %}</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/print.css" type="text/css" media="print"/>
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection"/>
    <![endif-->
  
  <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" type="text/css" media="screen, projection"/>
  
  <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="{{STATIC_URL}}javascript/show_map.js"></script>
  {% block style %}
    <style type="text/css">
      #map_canvas { height: 75% }
    </style>
  {% endblock %}
</head>

<body>
  <div class="container">
    <div class="span-24">
      {% block base_banner %}
    {% endblock %}
    </div>
    <div class="span-24">
      {% block base_toolbar %}
	<hr />
	{% if user.is_active %}
	  <div class="Constant_View">
	    <p> Hello, {{ user.username }} <br/>
	    Seja bem vindo ao Phone Finder! Aqui você poderá ter total acesso ao seu celular remotamente!<br />
	    Clique <a href="/logout?next=/">aqui</a> para deslogar.</p>
	  </div>
	{% else %}
	  {% include 'accounts/login.html' %}
	{% endif %}
    {%endblock %}
    </div>
    <div class="span-24">
      {% block base_content %}
	<hr/>
	<p> <b>BETA TEST</b><br>Sua localização:</p>
	<div id="map_canvas"></div>

      {% endblock %}
    </div>
  </div>
    
  </body>
  {% block scripts %}
    <script type="text/javascript">
      initialize("map_canvas", {{ CUR_LATI }} , {{ CUR_LONGI }} );
    </script>

{% endblock %}

</html>
